
__pycache__/
*.py[cod]


mosquitto/data/
mosquitto/log/
influxdb/
grafana/
nodered/
!nodered/flows.json  # On garde quand même le fichier de sauvegarde flows.json
!grafana/dashboard_export.json # On garde le dashboard


.DS_Store
Thumbs.db